.product__label_hit {
  bottom: -62px;
	right: -61px;
	background: #647bb4;
	background-image: linear-gradient(-45deg, #647bb4 0%, #4361ab 40%);
	transform: rotate(-135deg);
}

.product__label_hit .product__label-text {
  right: 0;
	top: 48px;
	bottom: auto;
	left: auto;
	transform: rotate(90deg);
}
